body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9e5d8; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #8c6449; 
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #d9a25f; 
    border: none;
    border-radius: 5px;
    color: #fff; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ba8c4a; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid beige;
}

.completed {
    text-decoration: line-through;
    color: grey;
}